@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Single:wght@100..900&family=Permanent+Marker&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Bitcount Grid Single", system-ui;
  font-optical-sizing: auto;
  
}

.app{
  min-height: 100vh;
  display: grid;
  background: #e2d4ff;
}
